
  
        <div class="container">
            <div class="page-inner">
              <div class="page-header d-flex justify-content-between align-items-center">
                <h3 class="fw-bold">Sugestões</h3>
                            <div class="btn-group">
                  <a href="/sugestao/relatorio" class="btn btn-primary">Relatório</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table
                          id="basic-datatables"
                          class="display table table-striped table-hover"
                        >
                          <thead>
                            <tr>
                              <!-- <th>CPF</th> -->
                              <th class="w-70">Sugestão</th>
                              <th class="w-25">Data</th>
                                
                              <th>Visualizar</th>
                            </tr>
                          </thead>
                          <tbody>
                                    <% for (let i=0; i < lista.length; i++){ %>
                              <tr>
                                <td><%= lista[i].descricao %></td>
                                <td><%= new Date(lista[i].data).toLocaleDateString('pt-BR') %></td>
                                <td>
                                  <a href="/sugestao/visualizar/<%= lista[i].id %>" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                  </svg></a>
                                </td>

                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>