
  
        <!-- formulario -->
   
        <div class="container">
          <div class="page-inner">
            
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Cadastrar Bloco</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <!-- Primeira Coluna -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="nome">Número</label>
                          <input
                            type="text"
                            class="form-control"
                            id="numero"
                            placeholder="Digite o Número do Bloco"
                          />
                        </div>
        
                      
                      
                      </div>
                      
                     
                    </div>
                  </div>
                  <div class="card-action">
                    <button style="width: 120px; height: 40px; border-radius:5px" class="btn btn-success py-2 cadastrar" id="btnCadastrar" type="button">Cadastrar</button>
                    <button style="width: 120px; height: 40px; border-radius:5px" class="btn btn-danger py-2" type="button" onclick="window.location.href='/bloco/listar'">Voltar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="/js/bloco/cadastrar.js"></script>

   
      