
  
        <!-- formulario -->
   
        <div class="container">
            <div class="page-inner">
             
              
              
            
             
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">Editar Categoria de Reclamacao</div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <!-- Primeira Coluna -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="nome">Nome</label>
                            
                            <input type="hidden" id="id" value="<%= categoria ? categoria.id : '' %>"/>

                            <input
                              type="text"
                              class="form-control"
                              id="nome"
                              value="<%= categoria ? categoria.nome : '' %>"

                            />
                            <small id="erro-nome" style="color: red; display: none;">Categoria já existente</small>

                          </div>
          
                          <div class="form-group">
                            <label for="email" >Penalidade</label>
                            <input
                              type="text"
                              class="form-control"
                              id="penalidade"
                              value="<%= categoria ? categoria.penalidade : '' %>"
                            />
                            <small id="erro-penalidade" style="color: red; display: none;"></small>


                          </div>
          
                          <div class="form-group">
                            <label for="multa">Multa</label>
                            <input
                              type="text"
                              class="form-control"
                              id="multa"
                              value="<%= categoria ? categoria.multa : '' %>"
                            />
                            <small id="erro-multa" style="color: red; display: none;"></small>
                          </div>
          
                         
                        </div>
                        
                        
                      </div>
                    </div>
                    <div class="card-action">
                      <button style="width: 120px; height: 40px; border-radius:5px" class="btn btn-success py-2 alterar" id="btnAlterar" type="button">Alterar</button>
                      <button style="width: 120px; height: 40px; border-radius:5px" class="btn btn-danger py-2" type="button" onclick="window.location.href='/categoria/listar'">Voltar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="/js/categoria/alterar.js"></script>

     
        