<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalização da Reclamação</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        Swal.fire({
            title: 'Reclamação Finalizada!',
            text: 'Obrigado por fazer sua Reclamação.',
            icon: 'success',
            confirmButtonText: 'Ok'
        }).then(() => {
            window.location.href = "/reclamacao/morador/listagem";
        });
    </script>
</body>
</html>